PORT=4000
CORS_ORIGIN=http://localhost:3000
MQTT_URL=mqtt://test.mosquitto.org:1883
MQTT_SUB_TOPICS=stm32/sensor/data,capstone/e03/fish,capstone/e03/preservation
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/mqtt_data

OPENROUTER_API_KEY="sk-or-your-key-here"
OPENROUTER_MODEL="openai/gpt-3.5-turbo"
PROJECT_URL="http://localhost:3000"

